<!-- {{products|json}} -->
<ng-container *ngIf="!showError; else hibuci">
    <ng-container *ngIf="products; else varakozas">
        <div class="row g-3">
            <div *ngFor="let termek of products" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100">
                    <img [src]="termek.image_Url" class="card-img-top" [alt]="termek.name">
                    <div class="card-body">
                        <h5 class="card-title">{{termek.name}}</h5>
                        <p class="card-text">
                            {{termek.description}}
                        </p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">{{termek.price}}  Euro</small>
                    <div class="input-group mb-3">
                        <input #db type="number" class="form-control" value="1" min="1" max="{{termek.quantity}}" aria-describedby="button-addon2">
        
                        <button (click)="kosarba(termek.id,db.value,termek.quantity)"  class="btn btn-outline-secondary" type="button" id="button-addon2">Megrendel</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #varakozas>
        <div class="alert alert-warning" role="alert">
            <h2>Várakozás az adatok letöltésére</h2>
        </div>
    </ng-template>
</ng-container>
<ng-template #hibuci>
    <div class="alert alert-danger" role="alert">
        <h2>Hiba történt az adatok letöltésekor!</h2>
        <p>{{errorMessage}}</p>
    </div>
</ng-template>